/* ---- First in row (margin from sidebar)  ----*/

body{
    margin-left: 240px;;
}
.anketa-link {
    font-size: 1.1vw;
    font-variant: initial;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10%;
    background-color: rgb(30, 90, 139);
    margin-right: 5.3%;
    margin-top: 2px;
    width: 14%;
    display: inline-block;
    color: rgb(224, 247, 242);
}

#anketa-linkfirstInRow img {
    width: 11vh;
    transition: 1s;
}

.anketa-link img {
    transition: 1s;
    width: 11vh;
}

.anketa-link-verifikacija {
    width: 100%;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}