/* ---- First in row (margin from sidebar)  ----*/
#anketa-linkfirstInRow {
    background-color:  rgb(30, 90, 139);
    margin-left: 200px;
    width: 12%;
    display: inline-block;

}

.anketa-link {
    background-color: rgb(30, 90, 139);
    margin-left: 5%;
    width: 12%;
    display: inline-block;
}

 #anketa-linkfirstInRow img {
    width: 11vh;
    transition: 1s;
}
.anketa-link img {
    transition: 1s;
    width: 11vh;
}

.anketa-link img:hover{
    transform: rotate(45deg);
    transition: 1s;
}

#anketa-linkfirstInRow img:hover {
    transform: rotate(45deg);
    transition: 1s;
}