/* The container */

.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.1vw;
    color: rgb(2, 60, 68);
    background-color: rgba(207, 236, 211, 0.37);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Hide the browser's default checkbox */

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 90%;
    height: 16px;
    width: 16px;
    background-color: rgb(255, 254, 254);
}

/* On mouse-over, add a grey background color */

.container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.container input:checked~.checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.container .checkmark:after {
    left: 6px;
    top: 1px;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.overaSemestra-odabirIspita {
    font-weight: bolder;
    color: rgb(3, 54, 97);
    background-color: lightskyblue;
    border-radius: 5px;
    display: none;
}

input[type=submit] {
    background-color: rgb(3, 54, 97);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    margin-left: 50%;
    cursor: pointer;
    transition: 1s;
}

input[type=submit]:hover {
    background-color: white;
    color: rgb(3, 54, 97);
    transition: 1s;
}

.overaSemestra-odabirIspita1 {
    display: none;
}

.overaSemestra-potpis {
    position: absolute;
    margin-top: 3px;
    height: 73%;
    width: 8%;
    left: 80%;
    display: inline;
}

.overaSemestra-potpis:hover {
    opacity: .4;
    transition: 1s;
}